<?xml version='1.0' encoding='utf-8'?>
<widget id="median.mobitaurus" version="0.3.0">
  <name>Mobitaurus</name>
  <description>
    Checkmk MEDIAN Mobile
  </description>
  <author email="dominik.glueck@twl-kom.de">
    Dominik.Glück
  </author>
  <platform name="android">
        <icon src="res/android/mipmap-ldpi/ic_launcher.png" density="ldpi"/>
        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi"/>
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi"/>
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi"/>
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi"/>
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi"/>
  </platform>
  <platform name="ios">
        <!-- iOS 8.0+ -->
        <!-- iPhone 6 Plus  -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" height="180" />
        <!-- iOS 7.0+ -->
        <!-- iPhone / iPod Touch  -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" height="120" />
        <!-- iPad -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@1x.png" width="76" height="76" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" height="152" />
        <!-- Spotlight Icon -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@1x.png" width="40" height="40" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" height="80" />
        <icon src="res/ios/AppIcon.appiconset/Icon-App-40x40@3x.png" width="120" height="120" />
        <!-- iOS 6.1 -->
        <!-- iPhone / iPod Touch -->
        <!-- iPad Pro -->
        <icon src="res/ios/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" height="167" />
  </platform>
  <preference name="EnableDeveloperConsole" value="false" />
</widget>
<plugin name="tabris-plugin-firebase" spec="3.x" />
