<?xml version='1.0' encoding='utf-8'?>
<widget id="median.mobitaurus" version="0.2.0">
  <name>Mobitaurus</name>
  <description>
    Checkmk MEDIAN Mobile
  </description>
  <author email="dominik.glueck@twl-kom.de">
    Dominik.Glück
  </author>
  <icon src="res/icon2.png" />
  <preference name="EnableDeveloperConsole" value="false" />
</widget>
